<div style="text-align: center">
    <br>
    <h1>맛집을 추천드려요!</h1>
    <div>
    <a>맛집 위치: {{restaurantPlace}}</a>
    <br>
    <a>맛집 이름: {{restaurantName}}</a>
    <br>
    <a>이용 일자: {{openDate}}</a>
    <br>
    <a>이용 시작 시간: {{useStartTime}}</a>
    <br>
    <a>이용 마감 시간: {{useEndTime}}</a>
    <br>
    <a>브레이크 시작 시간: {{breakStartTime}}</a>
    <br>
    <a>브레이크 마감 시간: {{breakEndTime}}</a>
    <br>
    <a>음식 종류: {{foodType}}</a>
    <br>
    <a>전화번호: {{restaurantNumber}}</a>
    <br>
    <a>인스타그램 주소: <a href="{{url}}">{{url}}<a></a>
    <br>
    <a href="/homepage/">홈페이지</a>
    </div>